/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* SCROLL FIX */
html,body{
overflow-x:hidden;
}

/* NAVBAR */
#nav-css{
background:linear-gradient(45deg,orange,yellow,red);
}

.nav-link{
color:white !important;
}

.nav-link:hover{
color:black !important;
}

/* HERO IMAGE ROTATION */
#img-rotate{
animation:rotation 5s linear infinite;
}

@keyframes rotation{
from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}

/* BUTTON FIX */
#order{
width:100%;
}

.card-img-top{
  height: 225px;      /* sab image same height */
  width: 100%;
  object-fit: cover;  /* image stretch nahi hogi, crop hogi */
}